/* TheAvenueTeam.com Menu/Pagination CSS */
#menu {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu li {
	float: left;
	list-style: none;
}

#menu li a:hover {
	background-color: #fff;
}

#menu li a {
	background-color: #f2f2f2;
	color: #5b5b5c;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}

#menu li ul {
	display: none;
}

#menu li:hover ul {
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
}

#menu li:hover li {
	float: none;
}

#menu li:hover li a {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	color: #5b5b5c;
}

#menu li li a:hover {
	background-color: #fff;
}